@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto&family=Ubuntu&display=swap');


:root {
    font-family: "Roboto";
    --bg-color: #121212;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



p, ul, li, a, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--bg-color);
    color: white;
}


/* UTILITIES */

.display-none {
    display: none;
}





/* Mask */

.mask {
    position: absolute;
    margin-top: 100px;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

.mask form {
    margin: 0 auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/*  */

.container {
    max-width: 600px;
    margin: 0 auto;
}

.title {
 margin: 20px 0;
 text-align: center;
}

.badge {
    color: var(--bg-color);
    background-color: white;
    padding: 10px;
    border-radius: 16px;
}


.separator {
    margin: 20px 0px;
}

.list-todo, .list-done {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    /* border: 1px solid white;
    border-radius: 32px; */
    /* background-color: #363636; */
    /* background: rgba(255, 255, 255, 0.2); */
    /* From https://css.glass */

    /* glass effect */
    background: rgba(74, 71, 71, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(10, 9, 9, 0.3);
}



.section-add-task {
    margin-top: 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.btn-add-task {
    background-color: var(--bg-color);
    /* opacity: 0; */
    border: 0;
    width: 64px;
    scale: 1;
    transition: scale 0.3s;
}

.btn-add-task:hover {
    cursor: pointer;
    scale: 1.1;
    transition: scale 0.3s;
}


